
*
  box-sizing: border-box
*:before
  box-sizing: border-box
*:after
  box-sizing: border-box

body
  margin: 0 auto
  font-family: "Brandon Grotesque"

a
  text-decoration: none
  background-color: transparent
  transition: all 0.3s linear 0s

h2
  font-size: 60px
  font-weight: lighter
  letter-spacing: -1.5px
  margin-top: 0
  margin-bottom: 0